<div class="container d-flex flex-column p-0 " style="width:40vw;height:500px;">
  <div class="form-group mt-3" style="width:20vw">
    <form action="/search">
      <select class="form-control " name="category" onchange="this.form.submit()">
        <option value="選擇類別" {{#ifEquals selectedCategory '選擇類別'}}selected{{/ifEquals}}>選擇類別</option>
        <option value="家居物業" {{#ifEquals selectedCategory '家居物業'}}selected{{/ifEquals}}>家居物業</option>
        <option value="交通出行" {{#ifEquals selectedCategory '交通出行'}}selected{{/ifEquals}}>交通出行</option>
        <option value="休閒娛樂" {{#ifEquals selectedCategory '休閒娛樂'}}selected{{/ifEquals}}>休閒娛樂</option>
        <option value="餐飲食品" {{#ifEquals selectedCategory '餐飲食品'}}selected{{/ifEquals}}>餐飲食品</option>
        <option value="其他" {{#ifEquals selectedCategory '其他'}}selected{{/ifEquals}}> 其他</option>
      </select>
    </form>    
  </div>
  <div class="amount d-flex align-items-start ml-15px" style="width:30vw">
    <p style="font-size:32px">總金額:</p>
    <p class="cost ml-5 justify-content-end" style="font-size:48px;color:tomato">{{totalAmount}}</p>
  </div>
  {{#each record}}
  <div class="detail" style="height:300px">
    <div class="row d-flex  align-items-center">
      <div class="col-sm-7 d-flex  align-items-center" style="margin-left:15px">
        <i class="{{this.icon}} mx-2" style="color:#5DBBEF;width:70px"></i>
        <div class="d-flex flex-column mr-5" style="width:100px">
          <p class="detailName m-0" style="font-size:20px">{{this.name}}</p>
          <p class="detailDate mr-auto" style="font-size:14px">{{this.date}}</p>
        </div>
        <div class="expense mx-5" style="width:70px">
          <p class="detailExpense" style="font-size:20px">{{this.amount}}</p>
        </div>
      </div>
      <div class="buttonGroup col-sm-4 d-flex">
        <a class="btn btn-warning mr-1" style="width:80px;height:40px;font-size:20px;" href="/record/{{this._id}}/edit">修改</a>
        <form action="/record/{{this._id}}?_method=DELETE" method="POST">
          <button class="btn btn-secondary" style="width:80px;height:40px;font-size:20px;">刪除</button>
        </form>
      </div>
    </div>
  </div>
  {{/each}}
  <div class="d-flex" style="margin-left:70px;">
    <a class="btn btn-success mt-3" style="width:150px;font-size:20px" href="/record/new">新增支出</a>
  </div>
</div>